{
  "openapi": "3.1.0",
  "info": {
    "title": "Amiqus ID REST API",
    "version": "2.0",
    "description": "Amiqus ID API reference.\n\n[Changelog](/aqid/changelog.html)\n",
    "contact": {
      "email": "developers@amiqus.co",
      "name": "Amiqus Engineering",
      "url": "https://developers.amiqus.co/aqid/api-reference.html"
    }
  },
  "servers": [
    {
      "url": "https://id.amiqus.co/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Service Status"
    },
    {
      "name": "User Account"
    },
    {
      "name": "Your Team"
    },
    {
      "name": "Records"
    },
    {
      "name": "Record Assignees"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Client Assignees"
    },
    {
      "name": "Client Files"
    },
    {
      "name": "Client Organisations"
    },
    {
      "name": "Cases"
    },
    {
      "name": "Case Items"
    },
    {
      "name": "Case Assignees"
    },
    {
      "name": "Steps"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Organisations"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Forms"
    },
    {
      "name": "Attachments"
    },
    {
      "name": "Other Resources"
    },
    {
      "name": "Aggregates"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "Check service status",
        "description": "The status endpoint can be used to perform an authenticated request to verify the access token is valid and that the service is operational.\n",
        "operationId": "get-status",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Service Status"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Retrieve user account",
        "description": "Retrieve details of the current user's account.\n\nAccess tokens are scoped to a single user account and team _(if they are a member of more than one)_. This endpoint can be used to determine which user the access token was issued for.\n\nTo retrieve details of the user's role within their current team, refer to **[Retrieve team membership](#operation/get-team-me)**.\n",
        "operationId": "get-me",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "User Account"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "object": "user",
                  "id": 345789,
                  "name": "Bob Gale",
                  "email": "bob@example.com",
                  "is_verified": true,
                  "is_disabled": false,
                  "created_at": "2019-08-24T14:15:22Z",
                  "updated_at": "2019-08-24T14:15:22Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "patch": {
        "summary": "Update user account",
        "description": "Update the current user's account details.\n\nWhen updating a user's email address, the change must be confirmed by the user via an email sent to their current email address. The updated email address won't be reflected in the response until the confirmation is complete.\n\nIt is not possible to update a user's password using the API.\n",
        "operationId": "patch-me",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "User Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minProperties": 1,
                "$ref": "#/components/schemas/User"
              },
              "example": {
                "name": "Robert Gale"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "object": "user",
                  "id": 345789,
                  "name": "Robert Gale",
                  "email": "bob@example.com",
                  "is_verified": true,
                  "is_disabled": false,
                  "created_at": "2019-08-24T14:15:22Z",
                  "updated_at": "2019-08-24T14:15:22Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/me/teams": {
      "get": {
        "summary": "List all my teams",
        "description": "List all teams the current user is a member of.\n\nA user can be a member of multiple teams. To retrieve details of the team the access token is scoped to, refer to **[Retrieve current team](#operation/get-team)**.\n",
        "operationId": "get-me-teams",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "User Account"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Team"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "team",
                      "id": 88,
                      "uuid": "6b9c8323-4b54-4bb3-a1c8-68de534368a5",
                      "name": "Fusion Industries",
                      "contact": "fusion.support@example.com",
                      "telephone": null,
                      "tier": "standard_2021",
                      "logo": null,
                      "is_support_enabled": true,
                      "created_at": "2019-08-24T14:15:22Z",
                      "updated_at": "2019-08-24T14:15:22Z",
                      "archived_at": null
                    }
                  ],
                  "total": 1,
                  "count": 1,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/team": {
      "get": {
        "summary": "Retrieve current team",
        "description": "Returns basic details of the current team.",
        "operationId": "get-team",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Your Team"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "object": "team",
                  "id": 88,
                  "identifier": "fusion-industries",
                  "uuid": "6b9c8323-4b54-4bb3-a1c8-68de534368a5",
                  "name": "Fusion Industries",
                  "contact": "fusion.support@example.com",
                  "telephone": null,
                  "tier": "standard_2021",
                  "logo": null,
                  "is_support_enabled": true,
                  "created_at": "2019-08-24T14:15:22Z",
                  "updated_at": "2019-08-24T14:15:22Z",
                  "archived_at": null
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update current team",
        "description": "Updates basic details of the current team.",
        "operationId": "patch-team",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Your Team"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minProperties": 1,
                "properties": {
                  "contact": {
                    "type": "string",
                    "format": "email"
                  },
                  "telephone": {
                    "type": [
                      "null",
                      "string"
                    ]
                  }
                }
              },
              "example": {
                "contact": "fusion@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "object": "team",
                  "id": 88,
                  "identifier": "fusion-industries",
                  "uuid": "6b9c8323-4b54-4bb3-a1c8-68de534368a5",
                  "name": "Fusion Industries",
                  "contact": "fusion@example.com",
                  "telephone": null,
                  "tier": "standard_2021",
                  "logo": null,
                  "is_support_enabled": true,
                  "created_at": "2019-08-24T14:15:22Z",
                  "updated_at": "2019-08-24T14:15:22Z",
                  "archived_at": null
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/team/me": {
      "get": {
        "summary": "Retrieve team membership",
        "description": "Retrieve membership details for the user's current team.\n\nTo retrieve the user's basic details, refer to **[Retrieve user account](#operation/get-me)**.\n",
        "operationId": "get-team-me",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Your Team"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMember"
                },
                "example": {
                  "object": "team_member",
                  "id": 121,
                  "name": "Lorraine Baines",
                  "email": "lorraine@example.com",
                  "role": "owner"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/team/members": {
      "get": {
        "summary": "List all team members",
        "description": "List all team members of the current team.",
        "operationId": "get-team-members",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Your Team"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/TeamMember"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "team_member",
                      "id": 121,
                      "name": "Lorraine Baines",
                      "email": "lorraine@example.com",
                      "role": "owner"
                    },
                    {
                      "object": "team_member",
                      "id": 472,
                      "name": "Dennis Jones",
                      "email": "dennis@example.com",
                      "role": "member"
                    }
                  ],
                  "total": 2,
                  "count": 2,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List all clients",
        "description": "Returns a paginated list of clients.\n\nTo retrieve a client, refer to **[Retrieve a client](#operation/get-clients-id)**.\n",
        "operationId": "get-clients",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "description": "Search for clients by name (first, middle and last), reference and organisation name. Search is case-insensitive and fuzzy.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "description": "Filter clients by their current status.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "name": "visibility",
            "description": "Filter clients by their visibility state. Both active and archived clients are returned by default.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ]
            }
          },
          {
            "name": "assignee",
            "description": "Filter records assigned to this team member's user ID.",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reference",
            "description": "Filter users by reference.\n\nThis search is case-insensitive but is not fuzzy and will only return full matches.\n",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name.first_name",
                "name.last_name",
                "created_at",
                "updated_at",
                "archived_at"
              ]
            },
            "description": "Sort results by name or date. Results returned in ID order by default"
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order results in ascending or descending order. Results returned in ascending order by default"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Client"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "oneOf": [
                                      {
                                        "type": "null"
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "pending",
                                          "approved",
                                          "rejected"
                                        ]
                                      }
                                    ]
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "client",
                      "id": 73823,
                      "status": "pending",
                      "name": {
                        "object": "name",
                        "title": "mr",
                        "other_title": null,
                        "first_name": "Martin",
                        "middle_name": "Seamus",
                        "last_name": "McFly",
                        "name": "Martin McFly",
                        "full_name": "Martin Seamus McFly",
                        "complete_name": "Mr Martin Seamus McFly"
                      },
                      "email": "marty@example.com",
                      "landline": null,
                      "mobile": null,
                      "dob": "1968-06-12",
                      "reference": null,
                      "national_insurance_number": null,
                      "is_deletable": true,
                      "created_at": "2022-05-21T14:15:22Z",
                      "updated_at": "2022-05-21T14:15:22Z",
                      "archived_at": null
                    },
                    {
                      "object": "client",
                      "id": 73841,
                      "status": null,
                      "name": {
                        "object": "name",
                        "title": "miss",
                        "other_title": null,
                        "first_name": "Jennifer",
                        "middle_name": "Jane",
                        "last_name": "Parker",
                        "name": "Jennifer Parker",
                        "full_name": "Jennifer Jane Parker",
                        "complete_name": "Miss Jennifer Jane Parker"
                      },
                      "email": "jennifer@example.com",
                      "landline": null,
                      "mobile": null,
                      "dob": "1967-10-29",
                      "reference": null,
                      "national_insurance_number": "QQ345678Z",
                      "is_deletable": true,
                      "created_at": "2022-05-21T14:22:01Z",
                      "updated_at": "2022-05-21T14:22:01Z",
                      "archived_at": null
                    },
                    {
                      "object": "client",
                      "id": 76219,
                      "status": "approved",
                      "name": {
                        "object": "name",
                        "title": "dr",
                        "other_title": null,
                        "first_name": "Emmett",
                        "middle_name": "Lathrop",
                        "last_name": "Brown",
                        "name": "Emmett Brown",
                        "full_name": "Emmett Lathrop Brown",
                        "complete_name": "Dr Emmett Lathrop Brown"
                      },
                      "email": "doc@example.com",
                      "landline": null,
                      "mobile": null,
                      "dob": null,
                      "reference": null,
                      "national_insurance_number": "QQ123456C",
                      "is_deletable": true,
                      "created_at": "2022-05-21T14:29:59Z",
                      "updated_at": "2022-05-21T14:29:59Z",
                      "archived_at": null
                    }
                  ],
                  "total": 3,
                  "count": 3,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "post": {
        "summary": "Create a client",
        "description": "Create a new client.",
        "operationId": "post-clients",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client",
                "required": [
                  "email",
                  "name"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "approved",
                      "rejected"
                    ]
                  },
                  "name": {
                    "required": [
                      "first_name",
                      "last_name"
                    ]
                  }
                }
              },
              "example": {
                "name": {
                  "title": "mr",
                  "first_name": "Martin",
                  "middle_name": "Seamus",
                  "last_name": "McFly"
                },
                "email": "marty@example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Client"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "oneOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "pending",
                                "approved",
                                "rejected"
                              ]
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "client",
                  "id": 73845,
                  "status": "pending",
                  "name": {
                    "object": "name",
                    "title": "mr",
                    "other_title": null,
                    "first_name": "Martin",
                    "middle_name": "Seamus",
                    "last_name": "McFly",
                    "name": "Martin McFly",
                    "full_name": "Martin Seamus McFly",
                    "complete_name": "Mr Martin Seamus McFly"
                  },
                  "email": "marty@example.com",
                  "landline": null,
                  "mobile": null,
                  "dob": null,
                  "reference": null,
                  "national_insurance_number": "QQ123456C",
                  "is_deletable": true,
                  "created_at": "2022-05-21T14:15:22Z",
                  "updated_at": "2022-05-21T14:15:22Z",
                  "archived_at": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/clients/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId",
          "description": "Unique client identifier"
        }
      ],
      "get": {
        "summary": "Retrieve a client",
        "description": "Returns a single client.",
        "operationId": "get-clients-id",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Client"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "oneOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "pending",
                                "approved",
                                "rejected"
                              ]
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "client",
                  "id": 73845,
                  "status": "pending",
                  "name": {
                    "object": "name",
                    "title": "mr",
                    "other_title": null,
                    "first_name": "Martin",
                    "middle_name": "Seamus",
                    "last_name": "McFly",
                    "name": "Martin McFly",
                    "full_name": "Martin Seamus McFly",
                    "complete_name": "Mr Martin Seamus McFly"
                  },
                  "email": "marty@example.com",
                  "landline": null,
                  "mobile": null,
                  "dob": null,
                  "reference": null,
                  "national_insurance_number": "QQ123456C",
                  "is_deletable": true,
                  "created_at": "2022-05-21T14:15:22Z",
                  "updated_at": "2022-05-21T14:15:22Z",
                  "archived_at": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a client",
        "description": "Update the details of a client.\n\nTo add or update a client's address, refer to **[Replace an address for a client](#operation/put-clients-id-address)**.\n",
        "operationId": "patch-clients-id",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Client"
                  },
                  {
                    "type": "object",
                    "minProperties": 1,
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "pending",
                          "approved",
                          "rejected"
                        ]
                      }
                    }
                  }
                ]
              },
              "examples": {
                "email": {
                  "summary": "Email",
                  "description": "Update the client's email address.",
                  "value": {
                    "email": "martin.mcfly@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Client"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "oneOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "pending",
                                "approved",
                                "rejected"
                              ]
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "client",
                  "id": 73845,
                  "status": null,
                  "name": {
                    "object": "name",
                    "title": "mr",
                    "other_title": null,
                    "first_name": "Martin",
                    "middle_name": "Seamus",
                    "last_name": "McFly",
                    "name": "Martin McFly",
                    "full_name": "Martin Seamus McFly",
                    "complete_name": "Mr Martin Seamus McFly"
                  },
                  "email": "martin.mcfly@example.com",
                  "landline": null,
                  "mobile": null,
                  "dob": null,
                  "reference": null,
                  "national_insurance_number": "QQ123456C",
                  "is_deletable": true,
                  "created_at": "2022-05-21T14:15:22Z",
                  "updated_at": "2022-09-22T17:02:13Z",
                  "archived_at": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      },
      "delete": {
        "summary": "Delete a client",
        "description": "Delete a client. Can be performed by Admin or Member users only. Clients with requests attached can only be deleted by Admin users.",
        "operationId": "delete-clients-id",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/clients/{id}/address": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId",
          "description": "Unique client identifier."
        }
      ],
      "get": {
        "summary": "Retrieve address for a client",
        "description": "Retrieve address for a client.",
        "operationId": "get-clients-id-address",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                },
                "example": {
                  "object": "address",
                  "unit": "3rd Floor",
                  "house_name": "Citypoint",
                  "house_number": "65",
                  "street_name": "Haymarket Terrace",
                  "second_street": null,
                  "district": null,
                  "city": "Edinburgh",
                  "province": null,
                  "postcode": "EH12 5HD",
                  "country": "GB"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Replace an address for a client",
        "description": "Replace address for a client.\n\nEach country has its own field requirements. Any field can become required if the selected country demands it, most commonly `postcode`.\n",
        "operationId": "put-clients-id-address",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minProperties": 1,
                "$ref": "#/components/schemas/Address"
              },
              "example": {
                "unit": "3rd Floor",
                "house_name": "Citypoint",
                "house_number": "65",
                "street_name": "Haymarket Terrace",
                "city": "Edinburgh",
                "postcode": "EH12 5HD",
                "country": "GB"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                },
                "example": {
                  "object": "address",
                  "unit": "3rd Floor",
                  "house_name": "Citypoint",
                  "house_number": "65",
                  "street_name": "Haymarket Terrace",
                  "second_street": null,
                  "district": null,
                  "city": "Edinburgh",
                  "province": null,
                  "postcode": "EH12 5HD",
                  "country": "GB"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/clients/{id}/assignees": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId",
          "description": "Unique client identifier."
        }
      ],
      "get": {
        "summary": "List all assignees for a client",
        "description": "Returns a paginated list of the client's assignees.",
        "operationId": "get-clients-id-assignees",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Assignees"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/TeamMember-2"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "assignee",
                      "id": 34535,
                      "type": "team_member",
                      "team_member": {
                        "object": "team_member",
                        "id": 121,
                        "name": "Lorraine Baines",
                        "email": "lorraine@example.com",
                        "role": "owner"
                      }
                    },
                    {
                      "object": "assignee",
                      "id": 34538,
                      "type": "team_member",
                      "team_member": {
                        "object": "team_member",
                        "id": 472,
                        "name": "Dennis Jones",
                        "email": "dennis@example.com",
                        "role": "member"
                      }
                    }
                  ],
                  "total": 2,
                  "count": 2,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add assignees to a client",
        "description": "Add one or more assignees to a client, merging them with existing assignees.\n\nExisting assignees to the client are not included in the response. Only added assignees to the client will be returned.\n\nTo replace assignees, refer to **[Replace assignees for a client](#operation/put-clients-id-assignees)**.\n",
        "operationId": "post-clients-id-assignees",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Assignees"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Assignee"
                    },
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "team_member"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "team_member": {
                          "type": "integer",
                          "description": "The unique identifier of the team member to be assigned to the client."
                        },
                        "type": {
                          "type": "string",
                          "const": "team_member",
                          "description": "The type of assignee to be assigned to the client."
                        }
                      }
                    }
                  ]
                }
              },
              "example": [
                {
                  "type": "team_member",
                  "team_member": 121
                },
                {
                  "type": "team_member",
                  "team_member": 472
                }
              ]
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (one or more assignees to the client have been added)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "total": {
                          "minimum": 1
                        },
                        "count": {
                          "minimum": 1,
                          "maximum": 100
                        },
                        "limit": {
                          "minimum": 100,
                          "const": 100
                        },
                        "data": {
                          "minItems": 1,
                          "maxItems": 100,
                          "items": {
                            "$ref": "#/components/schemas/TeamMember-2"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "assignee",
                      "id": 34535,
                      "type": "team_member",
                      "team_member": {
                        "object": "team_member",
                        "id": 121,
                        "name": "Lorraine Baines",
                        "email": "lorraine@example.com",
                        "role": "owner"
                      }
                    },
                    {
                      "object": "assignee",
                      "id": 34538,
                      "type": "team_member",
                      "team_member": {
                        "object": "team_member",
                        "id": 472,
                        "name": "Dennis Jones",
                        "email": "dennis@example.com",
                        "role": "member"
                      }
                    }
                  ],
                  "total": 2,
                  "count": 2,
                  "limit": 100,
                  "has_more": false,
                  "url": "https://id.amiqus.co/api/v2/clients/4672/assignees"
                }
              }
            }
          },
          "204": {
            "description": "No Content (no new assignees to the client have been added)"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                },
                "example": {
                  "errors": [
                    "The submitted value must be an array of assignee objects"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Replace assignees for a client",
        "description": "Replace all existing assignees for a client.\n\nExisting assignees to the client that are included in the request will be part of the updated assignees to the client but they will not be shown in the response. Only added assignees will be returned.\n\nTo add additional assignees without replacing existing, refer to **[Add assignees for a client](#operation/post-clients-id-assignees)**.\n",
        "operationId": "put-clients-id-assignees",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Assignees"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Assignee"
                    },
                    {
                      "type": "object",
                      "required": [
                        "type",
                        "team_member"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "team_member": {
                          "type": "integer",
                          "description": "The unique identifier of the team member to be assigned to the client."
                        },
                        "type": {
                          "type": "string",
                          "const": "team_member",
                          "description": "The type of assignee to be assigned to the client."
                        }
                      }
                    }
                  ]
                }
              },
              "example": [
                {
                  "type": "team_member",
                  "team_member": 121
                },
                {
                  "type": "team_member",
                  "team_member": 523
                }
              ]
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (one or more assignees to the client have been replaced)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "total": {
                          "minimum": 1
                        },
                        "count": {
                          "minimum": 1,
                          "maximum": 100
                        },
                        "limit": {
                          "minimum": 100,
                          "const": 100
                        },
                        "data": {
                          "minItems": 1,
                          "maxItems": 100,
                          "items": {
                            "$ref": "#/components/schemas/TeamMember-2"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "assignee",
                      "id": 34535,
                      "type": "team_member",
                      "team_member": {
                        "object": "team_member",
                        "id": 121,
                        "name": "Lorraine Baines",
                        "email": "lorraine@example.com",
                        "role": "member"
                      }
                    },
                    {
                      "object": "assignee",
                      "id": 34541,
                      "type": "team_member",
                      "team_member": {
                        "object": "team_member",
                        "id": 523,
                        "name": "Clara Clayton",
                        "email": "clara@example.com",
                        "role": "member"
                      }
                    }
                  ],
                  "total": 2,
                  "count": 2,
                  "limit": 100,
                  "has_more": false,
                  "url": "https://id.amiqus.co/api/v2/clients/4672/assignees"
                }
              }
            }
          },
          "204": {
            "description": "No Content (assignees to the client have been successfully deleted or there are no changes)"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                },
                "example": {
                  "errors": [
                    "The submitted value must be an array of assignee objects"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete assignees for a client",
        "description": "Remove all assignees from a client.\n\nTo delete a single client assignee, see **[Delete an assignee for a client](#operation/delete-clients-clientId-assignees-assigneeId)**.\n",
        "operationId": "delete-clients-id-assignees",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Assignees"
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/assignees/{assigneeId}": {
      "delete": {
        "summary": "Delete an assignee for a client",
        "description": "Remove an assignee from a client.\n\nTo delete all client assignees, see **[Delete assignees for a client](#operation/delete-clients-id-assignees)**.\n",
        "operationId": "delete-clients-clientId-assignees-assigneeId",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Assignees"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Unique client identifier."
            }
          },
          {
            "name": "assigneeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Unique assignee identifier."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Client not found",
                        "Assignee not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}/organisations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId",
          "description": "Unique client identifier"
        }
      ],
      "get": {
        "summary": "List all organisations for a client",
        "description": "Returns a paginated list of a client's organisation memberships. When an organisation is archived all clients associated with the organisation will be removed.\n\nTo retrieve organisations for the team, refer to **[List all organisations](#operation/get-organisations)**.\n",
        "operationId": "get-clients-id-organisations",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Organisations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at",
                "archived_at"
              ]
            },
            "description": "Sort results by organisation name. Results returned in created order by default."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order results in ascending or descending order. Results returned in ascending order by default."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Organisation"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "organisation",
                      "id": 3970,
                      "name": "Probert Publishing",
                      "company_number": "SF12188",
                      "jurisdiction": "gb",
                      "created_at": "2022-03-15T21:43:16Z",
                      "updated_at": "2022-03-15T21:43:16Z",
                      "archived_at": null
                    }
                  ],
                  "total": 1,
                  "count": 1,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add organisations for a client",
        "description": "Add the client to one or more organisations, merging them with existing organisation memberships. Existing organisation memberships are not included in the response. Only added organisation memberships will be returned.\n\nTo replace organisations, refer to **[Replace organisations for a client](#operation/put-clients-id-organisations)**.\n\nTo update an organisation's basic details, refer to **[Update an organisation](#operation/patch-organisations-id)**.\n",
        "operationId": "post-clients-id-organisations",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Organisations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "integer",
                  "description": "Unique organisation identifier"
                }
              },
              "example": [
                3970,
                4117
              ]
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (one or more organisations to the client have been added)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Organisation"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "4117 pre-exists": {
                    "description": "Membership to 4117 already existed before the request.",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "organisation",
                          "id": 3970,
                          "name": "Probert Publishing",
                          "company_number": "SF12188",
                          "jurisdiction": "gb",
                          "created_at": "2022-03-15T21:43:16Z",
                          "updated_at": "2022-03-15T21:43:16Z",
                          "archived_at": null
                        }
                      ],
                      "total": 1,
                      "count": 1,
                      "limit": 100,
                      "has_more": false,
                      "url": "https://id.amiqus.co/api/v2/clients/73845/organisations"
                    }
                  },
                  "new": {
                    "description": "Membership to 3970 and 4117 did not exist before the request.",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "organisation",
                          "id": 3970,
                          "name": "Probert Publishing",
                          "company_number": "SF12188",
                          "jurisdiction": "gb",
                          "created_at": "2022-03-15T21:43:16Z",
                          "updated_at": "2022-03-15T21:43:16Z",
                          "archived_at": null
                        },
                        {
                          "object": "organisation",
                          "id": 4117,
                          "name": "CusCo",
                          "company_number": "11249",
                          "jurisdiction": "us_ca",
                          "created_at": "2022-03-20T13:12:41Z",
                          "updated_at": "2022-03-20T13:12:41Z",
                          "archived_at": null
                        }
                      ],
                      "total": 2,
                      "count": 2,
                      "limit": 100,
                      "has_more": false,
                      "url": "https://id.amiqus.co/api/v2/clients/73845/organisations"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content (no new organisations to the client have been added)"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                },
                "example": {
                  "errors": [
                    "At least one organisation is required"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Replace organisations for a client",
        "description": "Replaces a client's organisation memberships. Existing organisation memberships that are included in the request will be part of the updated organisation memberships, but they will not be shown in the response. Only added organisations will be returned.\n\nTo add additional organisations without replacing existing, refer to **[Add organisations for a client](#operation/post-clients-id-organisations)**.\n",
        "operationId": "put-clients-id-organisations",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Organisations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "integer",
                  "description": "Unique organisation identifier"
                }
              },
              "example": [
                3970,
                4117
              ]
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (one or more organisations to the client have been replaced)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/List"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Organisation"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "organisation",
                      "id": 3970,
                      "name": "Probert Publishing",
                      "company_number": "SF12188",
                      "jurisdiction": "gb",
                      "created_at": "2022-03-15T21:43:16Z",
                      "updated_at": "2022-03-15T21:43:16Z",
                      "archived_at": null
                    },
                    {
                      "object": "organisation",
                      "id": 4117,
                      "name": "CusCo",
                      "company_number": "11249",
                      "jurisdiction": "us_ca",
                      "created_at": "2022-03-20T13:12:41Z",
                      "updated_at": "2022-03-20T13:12:41Z",
                      "archived_at": null
                    }
                  ],
                  "total": 2,
                  "count": 2,
                  "limit": 100,
                  "has_more": false,
                  "url": "https://id.amiqus.co/api/v2/clients/73845/organisations"
                }
              }
            }
          },
          "204": {
            "description": "No Content (organisations to the client have been successfully deleted or there are no changes)"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                },
                "example": {
                  "errors": [
                    "At least one organisation is required"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete organisations for a client",
        "description": "Delete all of a client's organisation memberships.",
        "operationId": "delete-clients-id-organisations",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Organisations"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Client not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{clientId}/organisations/{organisationId}": {
      "delete": {
        "summary": "Delete organisation for a client",
        "description": "Delete a single client organisation membership.",
        "operationId": "get-clients-clientId-organisations-organisationId",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Organisations"
        ],
        "parameters": [
          {
            "name": "clientId",
            "description": "Unique client identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "organisationId",
            "description": "Unique organisation identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Client not found",
                        "Organisation not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}/forms": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "summary": "List all forms for a client",
        "description": "List all forms for a client.",
        "operationId": "get-clients-id-forms",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "client",
                  "record"
                ]
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by internal client forms (`internal`), or requested for completion by the client (`requested`). Includes both by default.",
            "schema": {
              "type": "string",
              "enum": [
                "internal",
                "requested"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/ClientForm"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "client_form",
                      "id": 37344,
                      "reference": "2ddb20b8-e0e3-45ae-a638-42610b990a6a",
                      "type": "requested",
                      "client": 73212,
                      "record": 87564,
                      "name": "New starter form",
                      "description": null,
                      "instructions": null,
                      "fields": [
                        {
                          "id": "1",
                          "type": "section",
                          "label": "",
                          "fields": [
                            "2"
                          ]
                        },
                        {
                          "id": "2",
                          "type": "section",
                          "label": "Onboarding",
                          "fields": [
                            "3",
                            "4"
                          ]
                        },
                        {
                          "id": "3",
                          "type": "text",
                          "label": "Job title",
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": null
                        },
                        {
                          "id": "4",
                          "type": "radio",
                          "label": {
                            "value": "Contract type",
                            "options": [
                              "Full-time",
                              "Part-time"
                            ]
                          },
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": null
                        }
                      ],
                      "version": 1,
                      "created_at": "2022-10-11T13:41:38Z",
                      "updated_at": "2022-10-11T13:41:38Z",
                      "completed_at": null,
                      "archived_at": null
                    },
                    {
                      "object": "client_form",
                      "id": 37523,
                      "reference": "4fdb5ab5-f83e-4b52-926b-340e880bb030",
                      "type": "internal",
                      "client": 73212,
                      "record": null,
                      "name": "Onboarding checklist",
                      "description": "Checklist for all new employees.",
                      "instructions": null,
                      "fields": [
                        {
                          "id": "1",
                          "type": "section",
                          "label": "",
                          "fields": [
                            "2",
                            "3"
                          ]
                        },
                        {
                          "id": "2",
                          "type": "radio",
                          "label": {
                            "value": "Location",
                            "options": [
                              "Office",
                              "Remote",
                              "Hybrid"
                            ]
                          },
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": "Remote"
                        },
                        {
                          "id": "3",
                          "type": "radio",
                          "label": {
                            "value": "Department",
                            "options": [
                              "Sales",
                              "Marketing",
                              "Legal",
                              "Admin"
                            ]
                          },
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": "Admin"
                        }
                      ],
                      "version": 2,
                      "created_at": "2022-11-02T15:55:38Z",
                      "updated_at": "2022-11-05T20:02:06Z",
                      "completed_at": null,
                      "archived_at": null
                    }
                  ],
                  "total": 2,
                  "count": 2,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/clients/{id}/forms/{reference}": {
      "get": {
        "summary": "Retrieve a form for a client",
        "description": "Retrieve a form for a client.",
        "operationId": "get-clients-id-forms-reference",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientForm"
                },
                "examples": {
                  "requested": {
                    "summary": "Requested form",
                    "description": "A form for completion by the client",
                    "value": {
                      "object": "client_form",
                      "id": 37344,
                      "reference": "2ddb20b8-e0e3-45ae-a638-42610b990a6a",
                      "type": "requested",
                      "client": 73212,
                      "record": 87564,
                      "name": "New starter form",
                      "description": null,
                      "instructions": null,
                      "fields": [
                        {
                          "id": "1",
                          "type": "section",
                          "label": "",
                          "fields": [
                            "2"
                          ]
                        },
                        {
                          "id": "2",
                          "type": "section",
                          "label": "Onboarding",
                          "fields": [
                            "3",
                            "4"
                          ]
                        },
                        {
                          "id": "3",
                          "type": "text",
                          "label": "Job title",
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": null
                        },
                        {
                          "id": "4",
                          "type": "radio",
                          "label": {
                            "value": "Contract type",
                            "options": [
                              "Full-time",
                              "Part-time"
                            ]
                          },
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": null
                        }
                      ],
                      "version": 1,
                      "created_at": "2022-10-11T13:41:38Z",
                      "updated_at": "2022-10-11T13:41:38Z",
                      "completed_at": null,
                      "archived_at": null
                    }
                  },
                  "internal": {
                    "summary": "Internal form",
                    "description": "A form for internal data collection",
                    "value": {
                      "object": "client_form",
                      "id": 37523,
                      "reference": "4fdb5ab5-f83e-4b52-926b-340e880bb030",
                      "type": "internal",
                      "client": 73212,
                      "record": null,
                      "name": "Onboarding checklist",
                      "description": "Checklist for all new employees.",
                      "instructions": null,
                      "fields": [
                        {
                          "id": "1",
                          "type": "section",
                          "label": "",
                          "fields": [
                            "2",
                            "3"
                          ]
                        },
                        {
                          "id": "2",
                          "type": "radio",
                          "label": {
                            "value": "Location",
                            "options": [
                              "Office",
                              "Remote",
                              "Hybrid"
                            ]
                          },
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": "Remote"
                        },
                        {
                          "id": "3",
                          "type": "radio",
                          "label": {
                            "value": "Department",
                            "options": [
                              "Sales",
                              "Marketing",
                              "Legal",
                              "Admin"
                            ]
                          },
                          "validation": [
                            "required"
                          ],
                          "flag": false,
                          "value": "Admin"
                        }
                      ],
                      "version": 2,
                      "created_at": "2022-11-02T15:55:38Z",
                      "updated_at": "2022-11-05T20:02:06Z",
                      "completed_at": null,
                      "archived_at": null
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/clients/{id}/forms/{reference}/download": {
      "get": {
        "summary": "Download a form for a client",
        "description": "Download a form for a client.",
        "operationId": "get-clients-id-forms-reference-download",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/clients/{id}/records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "summary": "List all records for a client",
        "description": "List all records for a client.",
        "operationId": "get-clients-id-records",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "client"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Record"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "object": "paginated_list",
                  "data": [
                    {
                      "object": "record",
                      "id": 983434,
                      "status": "pending",
                      "email": "marty@example.com",
                      "steps": [
                        {
                          "object": "step",
                          "id": 2,
                          "type": "check.photo_id",
                          "preferences": {
                            "report_type": "standard",
                            "face": true,
                            "liveness": true,
                            "facial_similarity": false,
                            "live_document": false,
                            "docs": [
                              "passport",
                              "driving_licence",
                              "national_id"
                            ],
                            "issuing_countries": null,
                            "right_to_work": null
                          },
                          "check": 82342,
                          "cost": 1,
                          "completed_at": null
                        },
                        {
                          "object": "step",
                          "id": 3,
                          "type": "document.request",
                          "preferences": {
                            "title": "Utility bill",
                            "instructions": "A utility bill dated within the last three months."
                          },
                          "document": 23123,
                          "cost": 0,
                          "completed_at": null
                        },
                        {
                          "object": "step",
                          "id": 4,
                          "type": "form",
                          "form": "4bd9bfca-e61d-4a68-99b3-ca61a02f650f",
                          "cost": 0,
                          "completed_at": null
                        }
                      ],
                      "client": 73845,
                      "created_at": "2022-05-22T08:22:12Z",
                      "updated_at": "2022-05-22T08:22:12Z",
                      "archived_at": null
                    }
                  ],
                  "total": 1,
                  "count": 1,
                  "limit": 100,
                  "current_page": 1,
                  "total_pages": 1,
                  "links": null
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/clients/{id}/files": {
      "parameters": [
        {
          "$ref": "#/components/parameters/resourceId"
        }
      ],
      "get": {
        "summary": "List all files for a client",
        "description": "List all files for a client.",
        "operationId": "get-clients-id-files",
        "security": [
          {
            "personal_token": []
          },
          {
            "oauth": []
          }
        ],
        "tags": [
          "Client Files"
        ],
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "source",
                  "created_by"
                ]
              }
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort results by file name, date of upload or file expiry date. Results returned in ID order by default.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "expires_at"
              ]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order results in ascending or descending order. Results returned in ascending order by default.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "source",
            "description": "**Note:** `form` is deprecated, use `client_form` instead\n",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "check",
                "client",
                "client_form",
                "form",
                "record_document"
              ]
            }
          },
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "photo_id",
                "reference",
                "banking_information",
                "employment_referencing",
                "requested",
                "sent",
                "returned"
              ]
            },
            "description": "Some sources can be filtered by type:\n\n- **check**:\n   - `photo_id`\n   - `reference`\n   - `banking_information`\n   - `employment_referencing`\n- **record_document**\n  - `requested`, `sent`, `returned`\n\n**Note:** to filter by source type, the `source` parameter must also be provided.\n"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for client files by name. Search is case-insensitive and fuzzy.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/ClientFile"
                          }
                        }
                      }
                    }
                  ]
[...]
